*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

# Ignore Sublime Project Files
/quizzy-server.sublime-project
/quizzy-server.sublime-workspace

# Ignore uploads
# /public/uploads/*

# Ignore the default database.yml
/db/database.yml